/*

!.Xresources
!.profile
!.vimrc
!README.md
!.gitignore
!.fonts/
!.bashrc/


!.config/
!Documents/
.config/*
Documents/*


!.config/i3/
!.config/polybar
!.config/ranger
!.config/rofi
!.config/compton.conf
!Documents/Bakcup
!Documents/myScripts
!Documents/ScreenShot.png
Documents/SSR
